In [8]:
from sqlalchemy import create_engine
import pandas as pd
import datetime
import poloniex

In [4]:
conexão = create_engine('sqlite:///teste.sqlite')

In [6]:
r = conexão.execute('select * from teste;')
r.fetchall()

[('emap', 8)]

In [10]:
end = datetime.datetime.now()
start = end - datetime.timedelta(days=720)
ether = poloniex.get_ohlc('USDT_ETH',start, end)

Downloading USDT_ETH from 2016-02-04 15:15:29.831985 to 2018-01-24 15:15:29.831985.

In [12]:
ether.head()

,close,high,low,open,quoteVolume,volume,weightedAverage
date,,,,,,,
2016-02-04 17:20:00,2.431746,2.431746,2.431746,2.431746,0.000000,0.000000,2.431746
2016-02-04 17:25:00,2.431746,2.431746,2.431746,2.431746,0.000000,0.000000,2.431746
2016-02-04 17:30:00,2.554764,2.554764,2.554764,2.554764,0.981683,2.507968,2.554764
2016-02-04 17:35:00,2.554764,2.554764,2.554764,2.554764,0.000000,0.000000,2.554764
2016-02-04 17:40:00,2.554764,2.554764,2.554764,2.554764,0.000000,0.000000,2.554764

In [13]:
conexão2 = create_engine('sqlite:///ether.sqlite')

In [15]:
ether.to_sql('poloniex',conexão2)

In [ ]:
conexão2.table_names()

In [22]:
r = conexão2.execute('select * from poloniex limit 5;')
r.fetchall()

[('2016-02-04 17:20:00.000000', 2.43174586, 2.43174586, 2.43174586, 2.43174586, 0.0, 0.0, 2.43174586),
 ('2016-02-04 17:25:00.000000', 2.43174586, 2.43174586, 2.43174586, 2.43174586, 0.0, 0.0, 2.43174586),
 ('2016-02-04 17:30:00.000000', 2.55476355, 2.55476355, 2.55476355, 2.55476355, 0.98168314, 2.5079683, 2.55476355),
 ('2016-02-04 17:35:00.000000', 2.55476355, 2.55476355, 2.55476355, 2.55476355, 0.0, 0.0, 2.55476355),
 ('2016-02-04 17:40:00.000000', 2.55476355, 2.55476355, 2.55476355, 2.55476355, 0.0, 0.0, 2.55476355)]

In [18]:
df = pd.read_sql_query('select * from poloniex limit 5;', conexão2)
df

,date,close,high,low,open,quoteVolume,volume,weightedAverage
0,2016-02-04 17:20:00.000000,2.431746,2.431746,2.431746,2.431746,0.000000,0.000000,2.431746
1,2016-02-04 17:25:00.000000,2.431746,2.431746,2.431746,2.431746,0.000000,0.000000,2.431746
2,2016-02-04 17:30:00.000000,2.554764,2.554764,2.554764,2.554764,0.981683,2.507968,2.554764
3,2016-02-04 17:35:00.000000,2.554764,2.554764,2.554764,2.554764,0.000000,0.000000,2.554764
4,2016-02-04 17:40:00.000000,2.554764,2.554764,2.554764,2.554764,0.000000,0.000000,2.554764